<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <environments default="default">
        <environment id="default">
            <transactionManager type="JDBC"></transactionManager>
                <dataSource type="com.mkx.seumedia.config.C3p0Config">
                </dataSource>
        </environment>
    </environments>
</configuration>